<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Upload File</title>
</head>
<body>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" size="10">

        <label for="lab_id">LabID:</label>
        <input type="text" id="lab_id" name="lab_id" size="10">

        <label for="variant">Variant:</label>
        <input type="text" id="variant" name="variant" size="10">

        <label for="url">Download URL:</label>
        <input type="text" id="url" name="url" size="30">

        <select name="ext">
            <option value="c">C</option>
            <option value="cpp">CPP</option>
            <option value="cs">CS</option>
            <option value="py">PY</option>
        </select>

        <input type="submit" value="Upload" />
    </form>
</form>
</body>
</html>